{% if site.advertisements.enable %}
  <div class="advertisement-wrapper">
    {% case site.advertisements.provider %}
      {% when "adsense" %}
        {% if site.advertisements.adsense.client_id %}
          <div class="ad-container adsense-ad">
            {% if site.advertisements.adsense.sidebar_ad_slot %}
            <!-- Sidebar Ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="{{ site.advertisements.adsense.client_id }}"
                 data-ad-slot="{{ site.advertisements.adsense.sidebar_ad_slot }}"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          {% endif %}
          </div>
        {% endif %}
      
      {% when "mediavine" %}
        {% if site.advertisements.mediavine.site_id %}
          <div class="ad-container mediavine-ad">
            <div id="mediavine-sidebar" data-site-id="{{ site.advertisements.mediavine.site_id }}"></div>
            </div>
        {% endif %}
      
      {% when "raptive" %}
        {% if site.advertisements.raptive.site_id %}
          <div class="ad-container raptive-ad">
            <div id="raptive-sidebar"></div>
          </div>
        {% endif %}
      
        {% when "adsterra" %}
        {% if site.advertisements.adsterra.publisher_id %}
          <div class="ad-container adsterra-ad">
            <div id="container-{{ site.advertisements.adsterra.publisher_id }}"></div>
          </div>
        {% endif %}
      
    {% endcase %}
  </div>
{% endif %} 